.floorplan-svg {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.floorplan-container,
.room-info {
  max-width: 100%;
}

.floorplan-container h2 {
  font-size: 28px;
  font-weight: 500;
}

.floorplan-container p {
  font-size: 16px;
  color: #555;
}

svg path,
svg rect {
  transition: all 0.2s ease;
  cursor: pointer;
}

/* When selected */
svg .active {
  fill: rgba(204, 44, 0, 0.2);
  stroke: red;
  stroke-width: 2;
}
